@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Roboto:wght@100;300;400;500;700;900&display=swap');

nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 1.813rem 6.25rem;
}

nav h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  color: #0290ff;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav li {
  letter-spacing: 1.9px;
  font-size: 0.813rem;
}

nav li a {
  color: #000;
  margin-left: 2.938rem;
  text-decoration: none;
}

nav li:nth-child(2) {
  opacity: 0.5;
}
